/*
COLOR PALETTE
https://coolors.co/cbff8c-e3e36a-c16200-881600-4e0110
#CBFF8C - light yellow
#E3E36A - yellow
#C16200 - orange 
#881600 - red/maroon
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #CBFF8C;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #E3E36A;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}




h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #C16200;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #881600;
  color: #E3E36A;
}


/* Projects
------------------------------------*/
.projects {
  background: #C16200;
}
.projects a {
  color: #881600;
}
.projects .btn {
  color: #E3E36A;
  background: #881600;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(193, 98, 0, 1);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #881600;
}
.work-experience .btn {
  color: #E3E36A;
  background: #C16200;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  display: inline-block;
}
.work-experience .btn:hover {
  background: #881600
}


/* Education
------------------------------------*/
.education {
  background-image: url(../images/39526618-a-post-it-on-a-wood-background.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
  color: #881600;
}
.education p {
  width: 60%;
}

/* Food
------------------------------------*/
.food {
  background: #C16200;
}


.gallery {
  margin: 5px;
  border: 5px solid #E3E36A;
  width: 180px;
}

.gallery:hover {
  border: 5px solid #881600;
}

.gallery img {
  width: 100%;
  height: auto;
}





/* Contact Info
------------------------------------*/
footer {
  background: #881600;
  color: #E3E36A;
  
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
